.companies {
    padding-top: 0;
}
.companies__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 85px;
}

@media (max-width: 579px){
    .companies__wrap {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
    }
    .companies__wrap img {
        width: 100%;
        object-fit: cover;
    }
}